services:
  sftp:
    image: pacnpal/simple-sftp-server:latest
    ports:
      - "2222:22"
    environment:
      - SSH_KEY_DIR=/keys
    volumes:
      - /home/user/.ssh_keys/simple-sftp:/keys
      - /home/user/.ssh_keys/simple-sftp-host:/home/sftpuser/.host_keys
      - /home/user/sftp_data:/home/sftpuser/data
