services:
  sftp:
    build: .
    image: pacnpal/simple-sftp-server:latest
    ports:
      - "${SFTP_HOST_PORT:-2222}:${SFTP_PORT:-22}"
    environment:
      - SSH_KEY_DIR=/home/sftpuser/.ssh
      - SFTP_PATHS=/data,/uploads,/backups
      - SFTP_PORT=${SFTP_PORT:-22}
    volumes:
      - /home/user/sftp_host_keys:/etc/ssh
      - /home/user/sftp_ssh:/home/sftpuser/.ssh
      - /home/user/sftp_data:/home/sftpuser/data
